*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 2%;
    height: 600px;
    width: 500px;
}
.icons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.icons i{
    color: white;
}
.div1{
    background-color: azure;
   height: 550px;
   width: 300px ;
    margin: 10% 10% 10% -30% ;
    /* padding: 4%; */
    border-radius: 5px;
    box-shadow:  10px 10px  rgb(196, 186, 186);
    
}
.apple_pic{
    background-color: greenyellow;
    background: radial-gradient(#F5F5F5 30%,greenyellow 70%);
    height: 75%;
}
.apple_parts{
padding: 40px 0;
}
.apple img{
    margin-left:-30% ;
    
}
 .apple_parts ul, .list ul{
    display: flex;
    align-items: center;
    justify-content: center;

}
.apple_parts li, .list li{
    list-style: none;
}
.apple_parts img{
    border: 1px solid rgba(128, 128, 128, 0.308);
}

