body{
    width: 100vw;
    height: 100vh;
    background-image: url(https://www2.d125.org/applied_arts/teched/courses/WEB/portfolios/2014_FallP8/Rami_Portfolio_Period8/unit4_css/project_1folder/cssProject1/background.jpg);
}
.container{
    background-color: darkslategray;
    margin: 50px auto;
    border-radius: 40px;
    width: 1020px;
    height: 900px;
   
    /* display: block; */
    

}
h1{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    border-radius: 20px;
    padding: 10px 10px;
    opacity: 0.8;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
img:hover{
    opacity: 1;
}